<%= simple_form_for(@message) do |f| %>
  <ul>
    <% @contacts.each do |contact| %>
      <li>
        <%= link_to("Text " + contact.name, new_contact_message_path(contact.id)) %>
        
      </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
